
/* Elements */
body {
  background-color: #fdfcdc;
}
/* Classes */
/* Navbar */
.reva-nav {
  background-color: #ced4da;
  text-align: center;
}

.item {
  display: inline;
  text-decoration: none;
}

.item a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-size: 150%;
  padding: 2%;
  color: #6c757d;
}

.item a:hover {
  color: #212529;
}

.items-nav {
  background-color: #dee2e6;
  padding: 2%;
}

input{
  font-size: large;
}

/* Entry */
.entry {
  background-color: #e9ecef;
  text-align: center;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3%;
  border-radius: 20px;
}

.number-form input {
  height: 40px;
  width: 40%;
  margin: 2%;
  border-radius: 10px;
  border-style: none;
  padding: 0.3%;
  font-family: "Lato", sans-serif;
}

.number-form button {
  height: 40px;
  width: 30%;
  font-size: x-large;
  margin: 2%;
  border-radius: 10px;
  border-style: none;
  padding: 0.3%;
  font-family: "Lato", sans-serif;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* |||  Button styles ||| */

.number-form button:hover {
  cursor: pointer;
  color: white;
  background-color: #f77f00;  
  color: #dee2e6;
  box-shadow: rgb(247, 127, 0) 0px 5px 15px;
}

/* Subjects */
.subjects {
  background-color: #e9ecef;
  text-align: center;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  border-radius: 20px;
  visibility: hidden;
}

/* Id */
/* Navbar */
#revalogo {
  height: auto;
  width: 30%;
}

#items-holder {
  text-align: center;
}

/* Subjects */
#numbersublabel {
  font-size: 120%;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
}
